In [2]:
import json
import pandas as pd

In [8]:
with open('../dataset/train/annotations/annotations.json', 'r') as f:
    anno_file = json.load(f)
    annotation = anno_file['annotations']
pd_anno = pd.DataFrame(annotation)
pd_anno.describe()

               id    image_id  category_id          area  iscrowd
count  765.000000  765.000000        765.0    765.000000    765.0
mean   382.000000  299.031373          0.0  10988.881046      0.0
std    220.980768  172.768326          0.0  10522.209522      0.0
min      0.000000    0.000000          0.0    840.000000      0.0
25%    191.000000  154.000000          0.0   4830.000000      0.0
50%    382.000000  300.000000          0.0   7232.000000      0.0
75%    573.000000  446.000000          0.0  11814.000000      0.0
max    764.000000  599.000000          0.0  52402.000000      0.0